<%- include('partials/header.ejs') %>
    <div class="container">
        <div class ="row">
            <div class ="col s12 center-align">
                <i class="material-icons">location_on</i>
            </div>
        </div>
        <div class ="row">
            <div id="msgGPS" class="col s4 offset-s4 center-align">
                <% if (title) { %>
                    <%- title %>
                <% } %>
            </div>
            <div class="col s2 offset-s2 right-align">
                <div class="switch">
                    <label>
                        <input id="allowGPS" type="checkbox" <% if (checked) { %><%= checked %> <% } %>
                          onchange="if (event.currentTarget.checked) {document.location = '../mensa/locate';}
                              else {document.location = '../mensa/search';}">
                        <span class="lever"></span>
                    </label>
                  </div>
            </div>
        </div>
        <% if (content) { %>
            <%- content %>
        <% } %>
    </div>

<script>
window.onload = <%= onload %>;

//show canteen search results
async function showCanteensByCity(str){
    const results = await getCanteensByCity(str);
    showCanteens(results);
};

//
async function showCanteensByLocation(lat,lng,x){
    await addDistance(lat,lng);
    const results = await getNearestCanteens(x);
    showCanteens(results);
};

// show query results in DOM
function showCanteens(results){
    let resultList = document.getElementById('searchResults');
    resultList.setAttribute('class','collection');
    resultList.innerHTML='';
    results.forEach(result =>{
        let entry = document.createElement('li');
        entry.setAttribute('class', 'collection-item');
        let icon = document.createElement('i');
        icon.setAttribute('class', 'material-icons');
        icon.innerHTML='send';
        let a = document.createElement('a');
        a.href='#!';
        a.setAttribute('class', 'secondary-content');
        let div = document.createElement('div');
        let dist = document.createElement('span');
        dist.setAttribute('class', '');
        dist.innerHTML=result.distance+' km<br>';
        let name = document.createElement('span');
        name.setAttribute('class', 'title');
        name.innerText=result.name;
        let address = document.createElement('span');
        address.setAttribute('class', '');
        address.innerHTML='<br>'+result.address;
        if(result.distance < 999){div.appendChild(dist)};
        div.appendChild(name);
        div.appendChild(address);
        a.appendChild(icon);
        div.appendChild(a);
        entry.appendChild(div);
        resultList.appendChild(entry);
    })
};

//find canteens in indb by City
async function getCanteensByCity(str) {
    const results = await db.canteensStore.where('city').startsWithIgnoreCase(str).toArray();
    return results;
};

//get user's gps coordinates
function getUserLocation(){
    console.log('locating User');
    if("geolocation" in navigator){
        navigator.geolocation.getCurrentPosition(geo_success, geo_error, {
            enableHighAccuracy: false, 
            timeout: 1000*30, 
            maximumAge: 1000*60*60
        });
    } else {
        document.getElementById('msgGPS').innerText = 'Please use a 21st century browser';
    }
};

//expand indexedDB, add column "distance"
async function addDistance(lat, lng){
    await db.open();
    await db.canteensStore
        .orderBy('name')
        .modify(canteen => {
        canteen.distance = getDistance(lat, lng, canteen.coordinates[0], canteen.coordinates[1]);
    });
};

//get x nearest Canteens
async function getNearestCanteens(int) {
    const results = await db.canteensStore.orderBy('distance').limit(10).toArray();
    return results;
};


//callback function if GPS coordinates available
async function geo_success(position){
    const lat = position.coords.latitude;
    const lng = position.coords.longitude;
    document.location='/mensa/?lat='+lat+'&lng='+lng;
};

    
//callback function if getLocation throws error
function geo_error(err){
    const { code } = err;
    switch (code) {
        case GeolocationPositionError.TIMEOUT:
            document.getElementById('msgGPS').innerText = "timeout";
            break;
        case GeolocationPositionError.PERMISSION_DENIED:
            document.getElementById('msgGPS').innerText = "permission denied";
            break;
        case GeolocationPositionError.POSITION_UNAVAILABLE:
            document.getElementById('msgGPS').innerText = "position unavailable";
          break;
    }
};


// calculate distance between 2 coordinates, credits: http://jsfiddle.net/edgren/gAHJB/
function getDistance(lat1, lng1, lat2, lng2) {
    const R = 6371; // Radius of the earth in km
    const dLat = deg2rad(lat2-lat1);  // deg2rad below
    const dLng = deg2rad(lng2-lng1); 
    const a = 
        Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
        Math.sin(dLng/2) * Math.sin(dLng/2); 
    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
    const distance = R * c;
    return roundToTwo(distance);
};
function deg2rad(deg) {
    return deg * (Math.PI/180)
};
function roundToTwo(num) {
    return +(Math.round(num + "e+2")  + "e-2");
};
</script>

<%- include('partials/footer.ejs') %>